/ridge_detection/.cproject
/ridge_detection/.project
/ridge_detection.sublime-project
/ridge_detection.sublime-workspace
/ridge_detection/tests/test_evolve_brute_force/test_evolve_brute_force
/ridge_detection/tests/test_gpu_samples_set/test_gpu_samples_set
/ridge_detection/tests/test_rd_cpu_simulation/test_rd_cpu_simulation
/ridge_detection/tests/test_cpu_samples_set/test_cpu_samples_set
/ridge_detection/tests/test_choose_brute_force/test_choose_brute_force
/ridge_detection/tests/test_rd_cpu_simulation/test_rd_cpu_simulation_omp
/ridge_detection/tests/test_rd_gpu_simulation/test_rd_gpu_simulation
*.png
*.o
/ridge_detection/tests/test_decimate_brute_force/test_decimate_brute_force
/ridge_detection/tests/test_evolve_brute_force/ccsc_kernel_sass.txt
/ridge_detection/tests/test_evolve_brute_force/nvvp_evolve3.nvvp
/ridge_detection/tests/test_evolve_brute_force/nvvp_evolve3v2.nvvp
/ridge_detection/tests/test_evolve_brute_force/test_evolve2
/ridge_detection/tests/test_evolve_brute_force/test_evolve3
/ridge_detection/tests/test_evolve_brute_force/test_evolve4
/ridge_detection/tests/test_evolve_brute_force/nvvp_evolve4.nvvp
/ridge_detection/tests/test_rd_gpu_simulation/brute_force/simulation_2D
/ridge_detection/tests/test_rd_gpu_simulation/brute_force/simulation_3D
/ridge_detection/tests/test_decimate_brute_force/test_decimate4
/ridge_detection/tests/test_vis/glfw_test/glfw_test
/ridge_detection/tests/test_vis/bin/x86_64/linux/release/smokeParticles
/ridge_detection/tests/test_vis/brute_force/camMove3D/camMove3Dv2
/ridge_detection/tests/test_vis/brute_force/nv_particles_sample/*
/ridge_detection/tests/test_vis/brute_force/nv_simple_gl/simpleGL.cu
/ridge_detection/tests/test_vis/brute_force/simple2D/simpleVis2D
/ridge_detection/tests/test_vis/glfw_test/glfw_test
/ridge_detection/tests/test_vis/brute_force/camMove3D/camMove3D
/ridge_detection/tests/test_vis/brute_force/camMove3D/camMove3Dv2
/ridge_detection/tests/test_vis/brute_force/simple3D/simpleVis3D
/ridge_detection/tests/test_vis/bin/x86_64/linux/release/smokeParticles
/ridge_detection/tests/test_vis/brute_force/smokeParticles/*
/ridge_detection/tests/test_rd_cpu_simulation/brute_force/test_rd_cpu_simulation
/ridge_detection/tests/test_rd_cpu_simulation/brute_force/timings/*
/ridge_detection/tests/test_rd_cpu_simulation/tiled_local/test_tiled_local_tree
/ridge_detection/tests/test_rd_mrupniewski_sim/rd_mr
/ridge_detection/tests/test_rd_mrupniewski_sim/spirala.txt
/ridge_detection/tests/test_rd_cpu_simulation/tiled_local/test_tiled_local.txt
/ridge_detection/tests/test_rd_gpu_simulation/brute_force/test_gpu_brute_force.txt
/ridge_detection/tests/test_choose_kernel/v2/test_choose_v2
/ridge_detection/tests/test_choose_kernel/v1/test_choose_brute_force
/ridge_detection/examples/brute_force/rd
/ridge_detection/examples/data/*
/ridge_detection/tests/test_evolve_brute_force/test_evolve6
/ridge_detection/tests/test_evolve_brute_force/test_evolve3_1
/ridge_detection/tests/test_choose_kernel/v1/benchmark_choose
/ridge_detection/tests/test_choose_kernel/v1/test_choose
/ridge_detection/tests/test_decimate_kernel/v1/test_decimate
/ridge_detection/tests/test_evolve_brute_force/test_dev_evolve
/ridge_detection/tests/test_evolve_brute_force/benchmark_dev_evolve
/ridge_detection/tests/test_evolve_brute_force/benchmark_evolve3
/ridge_detection/tests/test_evolve_brute_force/d_benchmark_dev_evolve
/ridge_detection/tests/test_evolve_brute_force/f_benchmark_dev_evolve
/ridge_detection/tests/test_rd_gpu_simulation/brute_force/simulation
/ridge_detection/tests/test_find_bounds/test_find_bounds
/ridge_detection/tests/test_spatial_histogram/benchmark_spatial_histogram
/ridge_detection/tests/test_gpu_samples_set/samples_generator
/ridge_detection/tests/test_spatial_histogram/test_load_store
/ridge_detection/tests/test_load_store/test_tile_load_store
/ridge_detection/tests/test_load_store/test_misaligned
/ridge_detection/tests/test_load_store/test_tile_load_store_v1
/ridge_detection/tests/test_load_store/test_tile_load_store_v2
/ridge_detection/tests/test_load_store/test_tile_load_store_v3
/ridge_detection/tests/test_load_store/f_GeForce GTX TITAN_graphData_v1.dat
/ridge_detection/tests/test_load_store/f_GeForce GTX TITAN_graphData_v2.dat
/ridge_detection/tests/test_load_store/f_GeForce GTX TITAN_graphData_v3.dat
/ridge_detection/tests/test_spatial_histogram/benchmark_spatial_histogram_v1
/ridge_detection/tests/test_spatial_histogram/benchmark_spatial_histogram_v2
/ridge_detection/tests/test_spatial_histogram/benchmark_spatial_histogram_v3
/ridge_detection/tests/test_find_bounds/benchmark_find_bounds_v3
/ridge_detection/tests/test_cpu_samples_set/samples_generator
/ridge_detection/tests/test_rd_cpu_simulation/tiled/benchmark_tiled_tree_openmp_grouped_tiles
/ridge_detection/tests/test_load_store/test_tile_load_store_v4
/ridge_detection/tests/test_dynamic_vector/test_dynamic_vector
/ridge_detection/tests/test_dynamic_vector/test_simple
/ridge_detection/tests/test_load_store/test_tile_load_store_v4_benchmark
/ridge_detection/tests/test_partition/benchmark_select_if
/ridge_detection/tests/test_rd_cpu_simulation/tiled/benchmark_tiled_tree_noomp
/ridge_detection/tests/test_rd_cpu_simulation/tiled/benchmark_tiled_tree_omp
/ridge_detection/tests/test_rd_cpu_simulation/tiled/test_tiled_tree_omp
/ridge_detection/tests/test_partition/benchmark_select_if_twoPhase
/ridge_detection/tests/test_partition/benchmark_select_if_warpDirect

/ridge_detection/tests/test_partition/benchmark_select_if_mem_dv
/ridge_detection/tests/test_rd_cpu_simulation/tiled/benchmark_tiled_tree2_omp
/ridge_detection/tests/test_gpu_tiled_tree/foo
/ridge_detection/tests/test_load_store/test_store_from_smem

/ridge_detection/tests/small/t1.cubin
/ridge_detection/tests/small/t1_ptx_with_code.ptx
/ridge_detection/tests/small/t1_sass_lrm.sass
/ridge_detection/tests/small/t1_sass_w_code.sass
/ridge_detection/tests/test_rd_cpu_simulation/tiled/timings/*
/ridge_detection/tests/small/t2
/ridge_detection/tests/test_rd_gpu_simulation/tiled/gnuplot_data/dummy_file_for_git_tracking.txt
/ridge_detection/tests/test_rd_gpu_simulation/tiled/img/dummy_file_for_git_tracking.txt
/ridge_detection/tests/test_rd_gpu_simulation/tiled/timings/dummy_file_for_git_tracking.txt
/ridge_detection/tests/small/t4_debug
/ridge_detection/tests/small/t4_release
/ridge_detection/tests/test_gpu_tiled_tree/test_tiled_tree
*_x86_64_*
*/dummy_file_for_git_tracking.txt

/ridge_detection/tests/test_decimate_kernel/nan_marker/timings/*
/ridge_detection/tests/test_distance_mtx/timings/*
/ridge_detection/tests/test_count_neighbours/test_count_dist_points
/ridge_detection/tests/test_choose_kernel/v1/timings/*
/ridge_detection/tests/test_evolve_brute_force/timings/*
/ridge_detection/tests/test_decimate_kernel/tiled/timings/*
/ridge_detection/tests/test_rd_gpu_simulation/brute_force/timings/*
/ridge_detection/tests/small/*.cubin
/ridge_detection/tests/small/*.ptx
/ridge_detection/tests/small/*.sass
/ridge_detection/tests/test_rd_cpu_simulation/brute_force/benchmark_omp
*.ps
*.dat
/tests/*
/ridge_detection/tests/data/*
*.cubin
*.ptx
*.sass

/ridge_detection/tests/test_rd_cpu_simulation/brute_force/benchmark_omp_release_thorough_sprec
/ridge_detection/tests/test_rd_cpu_simulation/brute_force/timings/*
/ridge_detection/tests/test_rd_gpu_simulation/tiled/timings/*
/ridge_detection/tests/test_spatial_histogram/timings/*
/ridge_detection/tests/test_spatial_histogram/gnuplot_data/*.txt
/ridge_detection/tests/test_partition/timings/*
/ridge_detection/tests/test_find_bounds/timings/*

# documentation files
!/ridge_detection/doc/**

*gnuplot_data*
*.py
*.gp
*.plt
*.gnu
*2016*.txt
